
$ribbon:#F5675A;
$back:#B54C42;


.fore {
  
  position:relative;
  z-index:2;
  height:auto;
  width:250px;
  top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  /*margin-top:50px;*/
  
  .ribbonB {
    transform: skew(170deg);
    border-radius:15px 0px 15px 0px;
    height:80px;
    width:45px;
    background:  linear-gradient(to bottom, #0659bb, #0063be, #006cc0, #0075c2, #007ec2, #0086c6, #078fca, #1597ce, #1ba2d8, #22ade1, #2ab9ea, #32c4f3);
    float:left;
    margin-left:25px;
    -webkit-box-shadow:  0px 0px 3px 11px rgba(0, 0, 0, .5);
    box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, .4); 
    animation: ribbonB 1s linear 2s 1;
  }
  .ribbonM {
    transform: skew(170deg);
    border-radius:15px 0px 15px 0px;
    height:135px;
    width:45px;
    background:linear-gradient(to bottom, #0659bb, #0063be, #006cc0, #0075c2, #007ec2, #0086c6, #078fca, #1597ce, #1ba2d8, #22ade1, #2ab9ea, #32c4f3);
    float:left;
    margin-left:20px;
    -webkit-box-shadow:  0px 0px 3px 11px rgba(0, 0, 0, .5);
    box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, .4); 
    animation: ribbonM 1s linear 2s 1;
  }
  .ribbonT {
    transform: skew(170deg);
    border-radius:15px 0px 15px 0px;
    height:190px;
    width:45px;
    background: linear-gradient(to bottom, #0659bb, #0063be, #006cc0, #0075c2, #007ec2, #0086c6, #078fca, #1597ce, #1ba2d8, #22ade1, #2ab9ea, #32c4f3);
    float:left;
    margin-left:25px;
    -webkit-box-shadow:  0px 0px 3px 11px rgba(0, 0, 0, .5);
    box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, .4); 
    animation: ribbonT 1s linear 2s 1;
  }
  .left {
    margin-top:115px;
    
    .text {
      margin-top:10px;
    }
    
  }
  
  .mid {
    margin-top:60px;
    .text {
      margin-top:40px;
    }
  }

  .right {
    margin-top:6px;
    
  }
}

.backA {
  position:absolute;
  z-index:0;
  top: 50.6%;
  left: 45%;
  transform: translate(-46%,-45%); 

  .back-left {
    border-radius:15px 0px 15px 0px;
    margin-top:-81px;
    margin-left:60px;
    transform: skew(20deg);
    height:80px;
    width:30px;
    background:linear-gradient(to bottom, #eb0d0d, #f00037, #ed0057, #e50773, #d62c8c, #cb3696, #bf3e9f, #b246a7, #ab45a8, #a444aa, #9c44ab, #9443ac);
    animation: ribbonB 1s linear 2s 1;
  }
  
  .back-right {
    border-radius:15px 0px 15px 0px;
    margin-top:-135px;
    margin-left:122px;
    transform: skew(15deg);
    height:130px;
    width:40px;
    background:linear-gradient(to bottom, #eb0d0d, #f00037, #ed0057, #e50773, #d62c8c, #cb3696, #bf3e9f, #b246a7, #ab45a8, #a444aa, #9c44ab, #9443ac);
    animation: ribbonM 1s linear 2s 1;
  }
}

@keyframes ribbonT {
  from {
    opacity: 0;
    height: 0px;
  }
  
  11% {
    opacity: 1;
    height: 50px;
  }
  
  12% {
    opacity: 1;
    height: 60px;
  }
  
  35% {
     height: 150px;
  }
  
  46% {
    opacity:1;
     height: 190px;
  }
  
  
  to {
    height: 190px;
    opacity: 1;
    
  }
}

@keyframes ribbonM {
  from {
    opacity: 1;
    height: 0px;
  }
  
  11% {
    height: 50px;
  }
  
  12% {
    height: 70px;
  }
  
  35% {
     height: 110px;

  }
  
  46% {
    height: 135px;
    left: auto;
    right: 0;
    /*width: 0;*/
    opacity:1;
  }
  
  
  to {
    height: 135px;
    opacity: 1;
  }
}
@keyframes ribbonB {
  from {
    opacity: 1;
    height: 0px;
  }
  
  11% {
    height: 20px;
  }
  
  12% {
    height: 30px;
  }
  
  35% {
     height: 60px;
  }
  
  46% {
    height: 80px;
    opacity:1;
  }
  
  
  to {
    height: 80px;
    opacity: 1;
  }
}
